<h1>Antiderivative Calculator</h1>
<p>
  <%= link_to 'New Function',   new_function_path,    class:'btn btn-outline-secondary'%>
  <%= link_to 'New Sequence',   new_sequence_path,    class:'btn btn-outline-secondary'%>
  <%= link_to 'New Conversion', new_conversions_path, class:'btn btn-outline-secondary'%>
  <%= link_to 'New Equation',   new_equation_path,    class:'btn btn-outline-secondary'%>
</p>

