
<div class='row'>
<div class='col-3'></div>
  <div class='col-md-6'>
    <h1>Sequences</h1>
    <p><strong>Find the rule or nth term of a sequence</strong></p>
    <%= form_with model: @sequence, url: new_sequence_path, method: :post do |s| %>
      <div style='padding-top:15px; padding-bottom: 15px'> 
        <p>Enter the first few terms (at least 3 terms; comma-seperated)</p>
        <%= s.text_field :start_terms, class:'form-control' %>
      </div>
      <%= s.submit 'Create Sequence', class:'btn btn-outline-secondary' %>
    <% end %>
    <div class='col-md-12' style='padding-top:50px'>
      <%= render 'table' %>
    </div>
  </div>
</div>